<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Live Camera</title>
</head>

<body>

   <h1>Live Camera Feed</h1>
   <img src="{{ url_for('video_feed') }}" width="640" height="480">

   <h1>User IP and Location Information</h1>
   {% if location %}
   <ul>
      <li><strong>IP Address:</strong> {{ location.ip }}</li>
      <li><strong>Country:</strong> {{ location.country }}</li>
      <li><strong>Region:</strong> {{ location.region }}</li>
      <li><strong>City:</strong> {{ location.city }}</li>
      <li><strong>Hostname:</strong> {{ location.hostname }}</li>
      <!-- <li><strong>ZIP:</strong> {{ location.zip }}</li> -->
      <!-- <li><strong>Latitude:</strong> {{ location.lat }}</li> -->
      <!-- <li><strong>Longitude:</strong> {{ location.lon }}</li> -->
      <!-- <li><strong>ISP:</strong> {{ location.isp }}</li> -->
      <li><strong>Organization:</strong> {{ location.organization }}</li>
      <li><strong>Location (Longitude, Latitude):</strong> {{ location.loc}}</li>
   </ul>
   {% else %}
   <p>Could not retrieve location information.</p>
   {% endif %}


   <!-- <h1>User Geolocation</h1>
   <p id="location">Fetching location...</p>

   <script>
      // Function to send the geolocation data to the Flask server
      function sendLocationToServer(latitude, longitude) {
         fetch('/get_geolocation', {
            method: 'POST',
            headers: {
               'Content-Type': 'application/json'
            },
            body: JSON.stringify({
               latitude: latitude,
               longitude: longitude
            })
         })
            .then(response => response.json())
            .then(data => {
               document.getElementById('location').textContent =
                  `Latitude: ${latitude}, Longitude: ${longitude}`;
            })
            .catch(error => console.error('Error sending location:', error));
      }

      // Get the user's location
      if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            sendLocationToServer(latitude, longitude);
         }, function (error) {
            document.getElementById('location').textContent =
               'Unable to retrieve location';
            console.error('Geolocation error:', error);
         });
      } else {
         document.getElementById('location').textContent =
            'Geolocation is not supported by this browser.';
      }
   </script>
 -->

</body>

</html>