<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ip</title>
</head>

<body>
   <p>Flask application</p>
   <h1>User IP and IPLocation Information</h1>
   <div>
      {% if location %}
      {% for i in range(location|length) %}
      <ul id="location-{{ i }}" class="location-list location-{{ i }}">
         <li><strong>IP Address:</strong> {{ location[i].ip }}</li>
         <li><strong>Country:</strong> {{ location[i].country }}</li>
         <li><strong>Region:</strong> {{ location[i].region }}</li>
         <li><strong>City:</strong> {{ location[i].city }}</li>
         <li><strong>Location (Longitude, Latitude):</strong> {{ location[i].loc }}</li>
         <li><strong>IP Privacy:</strong> {{ location[i].privacy }}</li>
      </ul>
      {% endfor %}
      {% else %}
      <p>Could not retrieve location information.</p>
      {% endif %}
   </div>

</body>

</html>